* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Font */
@font-face {
  font-family: "josefinsans";
  src: url(asset/font/solway-regular-webfont.woff);
}
@font-face {
  font-family: "poppins";
  src: url(asset/font/poppins-regular-webfont.woff) format("woff");
}
@font-face {
  font-family: "poppins-medium";
  src: url(asset/font/poppins-medium-webfont.woff) format("woff");
}
@font-face {
  font-family: "poppins-semibold";
  src: url(asset/font/poppins-semibold-webfont.woff) format("woff");
}
@font-face {
  font-family: "poppins-extrabolditalic";
  src: url(asset/font/poppins-extrabolditalic-webfont.woff) format("woff");
}
@font-face {
  font-family: "poppins-talic";
  src: url(asset/font/poppins-italic-webfont.woff) format("woff");
}
:root {
  --bg-color: #cdd6ff;
}
[data-theme="dark"] {
  --bg-color: #161625;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background-color: var(--bg-color);
  /* min-height: 6000px; */
  box-sizing: border-box;
  font-family: "poppins";

  background-position: center;
}
.load {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999999999;
  width: 100%;
  background-color: #0f0f0ffa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.load h2 {
  color: #ffffff;
  font-size: 1.5rem;
}
.spinner {
  width: 80px;
  height: 80px;
  --clr: rgb(127, 207, 255);
  --clr-alpha: rgb(127, 207, 255, 0.1);
  animation: sniper 2s infinite linear;
  transform-style: preserve-3d;
  margin-bottom: 2rem;
}

.spinner > div {
  background-color: var(--clr-alpha);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 5px solid var(--clr);
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-40px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(40px);
}

.config {
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='745' height='745' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%234c8e43' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%236aac5f' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%234c8e43' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%236aac5f' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2389CC7C' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23768c3a' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%2396ac58' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%2396ac58' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23768c3a' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23768c3a' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%2396ac58' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E"); */
  background-attachment: fixed;
  background-image: url(asset/img/circle-scatter-haikei.svg);
  background-repeat: no-repeat;
}
.circle-mouse {
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: rgb(146, 80, 233);
  align-items: center;
  padding: 0 20px;
  z-index: 99;
}
nav .logo {
  /* width: 190px;
  height: 254px; */
  background: #9250e9;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 10px;
  padding: 0.3rem;
}
nav .logo::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 500px;
  background-image: linear-gradient(
    180deg,
    rgb(30, 255, 0),
    rgb(255, 255, 255)
  );

  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}
nav .logo::after {
  content: "";
  position: absolute;
  background: rgb(146, 80, 233);
  inset: 3px;
  border-radius: 9px;
}
nav .logo h1 {
  font-family: "josefinsans";
  color: #ff0000;
  z-index: 1;
}
nav .navbar-nav {
  display: flex;
  width: 40%;
  justify-content: space-between;
  list-style: none;
  letter-spacing: 0.5px;
}
nav .navbar-nav * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

nav .navbar-nav li a {
  text-decoration: none;
  font-family: "poppins-medium";
  text-transform: capitalize;
  color: #00ff00;
  position: relative;
  padding: 0.5rem 0.8rem;
}
nav .navbar-nav li a::after,
nav .navbar-nav li a::before {
  position: absolute;
  height: 15px;
  width: 15px;
  content: "";
  transition: all 0.35s ease;
  opacity: 0;
}
nav .navbar-nav li a::before {
  right: 0;
  top: 0;
  border-right: 3px solid rgb(255, 0, 191);
  border-top: 3px solid rgb(255, 0, 191);
  transform: translate(-100%, 50%);
}
nav .navbar-nav li a::after {
  left: 0;
  bottom: 0;
  border-left: 3px solid rgb(255, 0, 191);
  border-bottom: 3px solid rgb(255, 0, 191);
  transform: translate(100%, -50%);
}
nav .navbar-nav li a:hover {
  color: rgb(255, 0, 191);
}
nav .navbar-nav li a:hover::after,
nav .navbar-nav li a:hover::before {
  transform: translate(0%, 0%);
  opacity: 1;
}
nav .navbar-nav .sb-menu {
  position: relative;
}
nav .navbar-nav .sb-menu i {
  color: #00ff00;
}
nav .navbar-nav .sb-menu:hover i {
  transform: rotate(180deg);
}
nav .navbar-nav .sb-menu .nv-dwn {
  position: absolute;
  top: 20px;
  list-style: none;
  left: 0;
  line-height: 40px;
  background: rgb(146, 80, 233);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: -1;
}
nav .navbar-nav .sb-menu:hover .nv-dwn {
  display: block;
}
nav .navbar-nav .sb-menu .nv-dwn li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  --background: #28096b;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(74, 72, 72);
  transition: 0.5s;
  border-radius: 30px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: rgb(74, 72, 72);
  transition: 0.5s;
}
input:checked + .slider {
  background-color: #f2f0f7;
}
input:focus + .slider {
  box-shadow: 0 0 1px #3d2c8d;
}
input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
nav .icon-bar .menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  position: relative;
}
nav .icon-bar .menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
nav .icon-bar .menu-toggle span {
  display: block;
  width: 26px;
  height: 2.5px;
  background-color: #fe3636;
  border-radius: 3px;
  transition: all 0.5s;
}

main {
  width: 100%;
  min-height: 110vh;
  display: flex;

  /* background-color: #302ae662; */

  background-image: url("asset/img/Wave3.svg");
  background-color: #532ae638;
  background-repeat: no-repeat;
  background-position-y: 100%;
  position: relative;
  -webkit-mask-image: linear-gradient(
    rgba(0, 0, 0, 1) 85%,
    rgba(46, 63, 221, 0.007)
  );
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}
main .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 0 4rem;
  box-sizing: border-box;
  position: fixed;
  top: 20%;
}
main .container .main-box {
  line-height: 1.4;
  width: auto;
}
main .container .main-box h1:nth-child(1) {
  font-family: "poppins-extrabolditalic";
  text-shadow: 4px 4px 6px #aa3cf39d;
}
.wrt-txt {
  display: inline-flex;
}
main .container .main-box .wrt-txt h1 {
  color: #0c0c0c;
  font-size: 1.8rem;
  font-family: "poppins-extrabolditalic";
}
main .container .main-box .wrt-txt .type-text {
  position: relative;
  font-size: 1.8rem;
  padding-left: 10px;
  font-family: "poppins-medium";
  color: #f3277c;
  text-shadow: 3px 3px 5px #aa3cf39d;
}

main .container .main-box .wrt-txt .type-text::after {
  content: "";
  display: block;
  position: absolute;
  right: -5px;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #ff014f;
  animation: type 0.5s infinite;
}
main .container .main-box p {
  font-family: "poppins-medium";
  width: 60%;
  line-height: 1.2;
  text-shadow: 3px 3px 5px #aa3cf39d;
}

main .container .main-box .btn-main {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 3rem;
}
main .container .main-box .btn-main .button {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

main .container .main-box .btn-main .button::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
main .container .main-box .btn-main .btn1 {
  animation: btn-slide 1.5s infinite alternate-reverse;
}
main .container .main-box .btn-main .btn2 {
  animation: btn-slide-reverse 1.5s infinite alternate-reverse;
}
main .container .main-box .btn-main .button::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

main .container .main-box .btn-main .button:hover::after {
  filter: blur(30px);
}

main .container .main-box .btn-main .button:hover::before {
  transform: rotate(-180deg);
}

main .container .main-box .btn-main .button:active::before {
  scale: 0.7;
}

main .container .main-img .card {
  width: 190px;
  height: 254px;
  transition: all 0.2s;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.815);
}

main .container .main-img .card .card-inner {
  width: inherit;
  height: inherit;
  background: rgba(114, 134, 223, 0.623);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  /*backdrop-filter: blur(10px);*/
  border-radius: 10px;
}
main .container .main-img .card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(35px);
}

main .container .main-img .card::before {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 198px;
  height: 262px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

main .container .main-img .card:hover {
  transform: scale(1.04) rotate(1deg);
}
main .container .main-img .card:hover::before {
  transform: rotate(-180deg);
}
main .container .main-img .card .circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#b0e633, #53ef7d);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  animation: move-up6 1.5s ease-in infinite alternate-reverse;
}

main .container .main-img .card .circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

main .container .main-img .card .circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}
/* SECTION 1 */
.sect1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  background-image: url(asset/img/Colored\ Shapes.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.sect-card {
  display: inline-flex;
  padding: 2rem 0;
}
.sect-card h2 {
  font-family: "poppins-semibold";
  font-size: 2.5rem;
  text-shadow: 4px 4px 4px #3c4ef375;
}
.sect-card span {
  font-family: "poppins-semibold";
  font-size: 2.5rem;
  padding-left: 10px;
  animation: title-color 1s ease-in-out infinite alternate-reverse;
}
.cont-sect1 {
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
}
.cont-sect1 .sect1-img {
  width: 40%;
  padding: 0 1rem;
}
.cont-sect1 .sect1-img img {
  width: 100%;
  background-color: #00000031;
}
.cont-sect1 .sect1-box {
  width: 50%;
}
.cont-sect1 .sect1-box .text-box {
  width: 80%;
  margin-bottom: 6rem;
  padding-top: 1rem;
}
.cont-sect1 .sect1-box .text-box p {
  font-family: "poppins";
  font-size: 1.1rem;
  line-height: 1.4;
  text-shadow: 3px 3px 5px #3c4ef375;
}
.cont-sect1 .sect1-box .text-box p span {
  font-size: 5.15rem;
  color: rgb(14, 13, 13);
  line-height: 0.4;
  float: left;
  font-family: "poppins-semibold";
}
.cont-sect1 .sect1-box .skil-box {
  margin-top: 2.5rem;
}
.cont-sect1 .sect1-box .skil-box h3 {
  font-size: 1rem;
  font-family: "poppins-medium";
  text-shadow: 3px 3px 5px #3c4ef375;
  padding-bottom: 2rem;
  padding-left: 0.5rem;
}
.cont-sect1 .sect1-box .skil-box .skil {
  width: 90%;
  height: 15px;
  border: 1px solid rgb(75, 71, 71);
  border-radius: 20px;
  background-color: #ffffff52;
}
.cont-sect1 .sect1-box .skil-box .skil .pers-skil {
  background-color: #0011ff;
  width: 80%;
  height: 100%;
  border-radius: 20px;
  position: relative;
}
.cont-sect1 .sect1-box .skil-box .skil .pers-skil::after {
  content: "80%";
  position: absolute;
  right: 0;
  top: -30px;
  background-color: #71eff3;
  padding: 5px;
  border-radius: 20px;
  font-family: "poppins";
}
.cont-sect1 .sect1-box .skil-box .skil .pers-skil-gd {
  background-color: #0011ff;
  width: 60%;
  height: 100%;
  border-radius: 20px;
  position: relative;
}
.cont-sect1 .sect1-box .skil-box .skil .pers-skil-gd::after {
  content: "60%";
  position: absolute;
  right: 0;
  top: -30px;
  background-color: #71eff3;
  padding: 5px;
  border-radius: 20px;
  font-family: "poppins";
}
.cont-sect1 .sect1-box .skil-box .skil .pers-skil-net {
  background-color: #0011ff;
  width: 55%;
  height: 100%;
  border-radius: 20px;
  position: relative;
}
.cont-sect1 .sect1-box .skil-box .skil .pers-skil-net::after {
  content: "55%";
  position: absolute;
  right: 0;
  top: -30px;
  background-color: #71eff3;
  padding: 5px;
  border-radius: 20px;
  font-family: "poppins";
}
.cont-sect1 .sect1-box .skil-box .skil .pers-skil-etc {
  background-color: #0011ff;
  width: 20%;
  height: 100%;
  border-radius: 20px;
  position: relative;
}
.cont-sect1 .sect1-box .skil-box .skil .pers-skil-etc::after {
  content: "20%";
  position: absolute;
  right: 0;
  top: -30px;
  background-color: #71eff3;
  padding: 5px;
  border-radius: 20px;
  font-family: "poppins";
}
.cont-sect1 .sect1-box .skil-box .skil .pers-skil-lnx {
  background-color: #0011ff;
  width: 50%;
  height: 100%;
  border-radius: 20px;
  position: relative;
}
.cont-sect1 .sect1-box .skil-box .skil .pers-skil-lnx::after {
  content: "50%";
  position: absolute;
  right: 0;
  top: -30px;
  background-color: #71eff3;
  padding: 5px;
  border-radius: 20px;
  font-family: "poppins";
}
.sect1-box .btn-box {
  position: relative;

  margin-top: 3rem;
  box-sizing: border-box;
}
.sect1-box .btn-box .butn-box {
  left: 10%;
  position: relative;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  background-color: #bf0426;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #dedede;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}
.sect1-box .btn-box .butn-box:hover::before {
  width: 1.6em;
  height: 1.6em;
}
.sect1-box .btn-box .butn-box::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(
    135deg,
    rgb(203, 216, 243) 0%,
    rgb(209, 212, 233) 50%,
    rgba(150, 4, 31, 1) 50%,
    rgba(191, 4, 38, 1) 60%
  );
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.sect1-box .btn-box .butn-box:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}
/* SECTION 2 */
.sect2,
.sect-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.sect2 .boxing {
  display: flex;
  width: 60%;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
}
.card-ex {
  width: 190px;
  height: 130px;
  padding: 0.5rem;
  background: rgba(177, 95, 243, 0.87);
  border-radius: 8px;
  backdrop-filter: blur(5px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.44);
  border-left: 2px rgba(255, 255, 255, 0.545) outset;
  box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.28);
  transform: skewX(10deg);
  transition: 0.4s;
  overflow: hidden;
  color: white;
  margin: 3rem 1rem;
}

.card-ex:hover {
  height: 254px;
  transform: skew(0deg);
  transition: all 200ms;
}

.align {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-self: flex-start;
}

.red {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff605c;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
}

.yellow {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffbd44;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
}

.green {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ca4e;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
}
.card-ex .text-ex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-ex .text-ex p {
  font-size: 0.85rem;
}
.card-ex h1 {
  text-align: center;
  text-transform: capitalize;
  margin: 0.2rem 1.3rem 1.3rem 1.3rem;
  color: rgb(218, 244, 237);
  text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}

.card-ex p {
  line-height: 1.2;
}
.card-ex .link-ex {
  display: flex;
  justify-content: center;
  padding: 0.2rem 0;
}
.card-ex .link-ex a {
  text-decoration: none;
  color: #00ff22;
  font-family: "poppins-talic";
}

/* SECTION 2i */
.sect-2i,
.sect-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}
.title-sect {
  display: inline-flex;
  padding: 2rem 0;
  justify-content: center;
  width: 100%;
}
.title-sect span {
  font-family: "poppins-semibold";
  font-size: 2.5rem;
  animation: title-color 1s ease-in-out infinite alternate-reverse;
}
.title-sect h1 {
  font-family: "poppins-semibold";
  padding-left: 10px;
  font-size: 2.5rem;
  text-shadow: 4px 4px 4px #3c4ef375;
}
.skils-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-skil {
  display: flex;

  padding: 2rem;
  border-radius: 8px;
  transition: all 500ms;
  row-gap: 30px;
  flex-direction: column;
  align-items: center;
}
.container-skil:hover {
  transform: translateY(-20px);
}
.container-skil:hover .text-skil {
  transform: scale(1.1, 1.1);
}
.circular-progress {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: conic-gradient(#2a16e0 324deg, #edededbe 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.pv2 {
  background: conic-gradient(#2a16e0 288deg, #edededbe 0deg);
}
.pv3 {
  background: conic-gradient(#2a16e0 234deg, #edededbe 0deg);
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #ffffff;
}
.progress-value {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  color: #7d2ae8;
}
.text-skil {
  font-size: 1.5rem;
  font-family: "poppins-semibold";
  text-shadow: 2px 2px 2px #3c4ef375;
  transition: all 300ms;
}
/* SECTION 3 */
.sect-3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* box-sizing: border-box;
  width: 100%; */
}
.sect-3 .option {
  display: flex;
  width: 100%;
  padding: 1rem;
  margin-top: 0.2rem;
  align-items: center;
}
.sect-3 .option h4 {
  font-size: 1.3rem;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
  margin-bottom: 0;
  color: #ff0000;
  text-shadow: 3px 3px 5px #3c4ef375;
}
.sect-3 .option h4:hover {
  color: #00ff22;
}
.sect-3 .option h4:active {
  color: #00ffdd;
  scale: 0.9;
}
.sect-3 .option .all {
  padding: 0.4rem 0.4rem 0.2rem 0.4rem;
  background-color: #ce44e95e;
  border-radius: 15px;
}
.sect-3 .option .game,
.app-web,
.web {
  padding: 0.4rem 0.4rem 0.29rem 0.4rem;

  border-radius: 15px;
}
.sect-3 .img-prj {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.sect-3 .img-prj .img-box-prj {
  width: 400px;
  margin: 2rem;
  background-color: #00b7ff75;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: crosshair;
}
#bx-game {
  display: flex;
  text-decoration: none;
  color: #000000;
}
.sect-3 .img-prj a {
  text-decoration: none;
  color: #000;
}
.img-box-prj:hover::after {
  content: "Emphere Cafe";
  position: absolute;
  background-color: #cf67ff;
  padding: 1rem;
  font-size: 1.1rem;
  top: -3.2rem;
  animation: prj 500ms backwards;
  border-radius: 20px;
  color: #ffffff;
}
.sect-3 .img-prj .b:hover::after {
  content: "Katik";
}
.sect-3 .img-prj .c:hover::after {
  content: "JKT48 Website";
}
.sect-3 .img-prj .d:hover::after {
  content: "Bookshelf Apps";
}
.sect-3 .img-prj .e:hover::after {
  content: "WNews";
}
.sect-3 .img-prj .f:hover::after {
  content: "Todo List";
}
.sect-3 .img-prj .g:hover::after {
  content: "Suwit Jawa";
}
.sect-3 .img-prj .img-box-prj img {
  width: 100%;
}
.sect-3 .img-prj .img-box-prj .txt-prj {
  text-align: center;
  padding: 1.2rem 0;
}
/* SECTION 4 */
.sect-4 {
  width: 100%;
  margin-bottom: 12rem;
}
.sect-4 .ctc-box {
  width: 80%;
  display: flex;
  justify-content: space-around;
  background-image: url(asset/img/circle-scatter-haikeilagi.svg);
  background-size: cover;
  background-color: #8661eba6;
  background-position: center;
  background-attachment: fixed;
  border-radius: 25px;
  padding: 2rem;
  flex-wrap: wrap;
}
.sect-4 .ctc-box img {
  width: 300px;
  /* transform: rotate(20deg); */
}
.sect-4 .ctc-box form {
  background-color: #744eff;
  padding: 1rem;
  border-radius: 20px;
  display: none;
  flex-direction: column;
}
.sect-4 .ctc-box form .icn {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  gap: 10px;
}

.sect-4 .ctc-box form .input-group {
  position: relative;
  width: 100%;
}
.sect-4 .ctc-box form .input-group textarea {
  height: 60px;
  background: none;
  border: solid 1.5px #9e9e9e;
  color: white;
  border-radius: 1rem;
  width: 100%;
  padding: 10px;
}
.sect-4 .ctc-box form .input-group textarea::placeholder {
  color: #f5f5f5;
}
.sect-4 .ctc-box form .input-group textarea:focus {
  border: 1.5px solid #94ff8b;
  outline: none;
}
.sect-4 .ctc-box form .input-group .input {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #f5f5f5;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sect-4 .ctc-box form .input-group .user-label {
  position: absolute;
  left: 15px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sect-4 .ctc-box form .input-group .input:focus,
input:valid {
  outline: none;
  border: 1.5px solid #94ff8b;
}
.sect-4 .ctc-box form .input-group label {
  width: 200px;
  background-color: #744eff;
}
.sect-4 .ctc-box form .input-group .input:focus ~ label,
input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: #744eff;
  padding: 0.2rem;
  width: auto;
  color: #94ff8b;
}
.sect-4 .ctc-box form .btn-ctc {
  display: flex;
  justify-content: center;
}
.sect-4 .ctc-box form .btn-ctc button {
  background-color: #fff;
  border: 1px solid #25d366;
  padding: 5px;
  position: relative;
  width: 6.2em;
  height: 2em;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
}

.sect-4 .ctc-box form .btn-ctc button p {
  position: absolute;
  top: 0.4em;
  left: 1.15em;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  color: #25d366;
}

.sect-4 .ctc-box form .btn-ctc button svg {
  position: absolute;
  top: 0.45em;
  right: 0.5em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  fill: #fff;
}

.sect-4 .ctc-box form .btn-ctc button:hover p {
  left: 0.5em;
  color: #fff;
}

.sect-4 .ctc-box form .btn-ctc button:hover svg {
  opacity: 1;
}

.sect-4 .ctc-box form .btn-ctc button:hover {
  background-color: #25d366;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgb(146, 80, 233);
  padding: 1rem 0;
}
footer .footicon {
  width: 30%;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
}
footer .footicon li a i {
  font-size: 1.5rem;
  animation: title-color 3s ease-in-out infinite alternate-reverse;
}
footer .footbar-nav {
  display: flex;
  width: 50%;
  justify-content: space-around;
  list-style: none;
  color: #00ff00;
}
footer .footbar-nav li a {
  color: #00ff00;
  text-decoration: none;
  text-transform: capitalize;
}
footer .footbar-nav li a:hover {
  color: #00f7ff;
}
footer .footbar-nav .fot-menu {
  position: relative;
  padding-bottom: 0.3rem;
}
footer .footbar-nav .fot-menu:hover i {
  transform: rotate(180deg);
}
footer .footbar-nav .fot-menu .foot-dwn {
  position: absolute;
  top: 20px;
  list-style: none;
  left: 0;
  line-height: 40px;
  background: rgb(146, 80, 233);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 1;
}
footer .footbar-nav .fot-menu:hover .foot-dwn {
  display: block;
}
footer .footbar-nav .fot-menu .foot-dwn li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer .credit {
  margin-top: 1rem;
}
footer .credit p {
  color: #00ff00;
}
footer .credit p a {
  color: #03f7d6;
  text-decoration: none;
}
/* main .main-img img {
  width: 100px;
} */
/* Animation */
nav .icon-bar .menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
nav .icon-bar .menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
nav .icon-bar .menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
nav .icon-bar .menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0px);
}
nav .icon-bar .menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}
@keyframes sniper {
  0% {
    transform: rotate(0deg) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: rotate(180deg) rotateX(180deg) rotateY(180deg);
  }

  100% {
    transform: rotate(360deg) rotateX(360deg) rotateY(360deg);
  }
}
@keyframes prj {
  0% {
    top: 20px;
  }
  100% {
    top: -3.2rem;
  }
}
@keyframes title-color {
  0% {
    color: #e90b0b;
  }
  25% {
    color: #ee0cd0;
  }
  50% {
    color: #0011ff;
  }
  100% {
    color: #00ffdd;
  }
}
@keyframes btn-slide {
  100% {
    transform: translateX(20px);
  }
}
@keyframes btn-slide-reverse {
  100% {
    transform: translateX(-20px);
  }
}
@keyframes type {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}
@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes move-up6 {
  to {
    transform: translateY(-20px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(20px);
  }
}
@media (max-width: 1160px) {
  nav .navbar-nav {
    width: 50%;
  }
}
@media (max-width: 936px) {
  .spinner {
    margin-bottom: 2.5rem;
  }
  nav .navbar-nav {
    width: 60%;
  }
  nav .navbar-nav li a {
    font-size: 0.8rem;
  }
  main .container .main-box .btn-main {
    width: 70%;
  }
  .sect-3 .img-prj .img-box-prj {
    width: 350px;
    margin: 2rem 0;
  }
  .sect-3,
  .sect-4 {
    padding-top: 4rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .config {
    background-image: url(asset/img/circle-scatter-haikeihp.svg);
    background-position: center;
    /* background-size: cover; */
  }
  nav .logo h1 {
    font-size: 1.8rem;
  }
  nav .logo::before {
    width: 10px;
    height: 500px;
  }
  nav .logo::after {
    inset: 2px;
    border-radius: 7px;
  }
  nav .icon-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
  }
  nav .icon-bar .toggle a img {
    width: 2.5rem;
  }
  nav .icon-bar .menu-toggle {
    display: flex;
  }
  nav .navbar-nav {
    display: inline-block;
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgb(146, 80, 233);
    width: 45%;
    height: 100vh;
    transition: 0.3s;
  }
  nav .navbar-nav.slide {
    right: 0;
  }
  nav .navbar-nav li a {
    color: rgb(244, 246, 247);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.3rem;
  }
  nav .navbar-nav li a::before {
    border-right: 2px solid rgb(255, 0, 191);
    border-top: 2px solid rgb(255, 0, 191);
  }
  nav .navbar-nav li a::after {
    border-left: 2px solid rgb(255, 0, 191);
    border-bottom: 2px solid rgb(255, 0, 191);
  }
  nav .navbar-nav li a:hover {
    color: rgb(21, 255, 0);
  }

  nav .navbar-nav .sb-menu .nv-dwn {
    position: relative;
    padding: 0;
    top: 0;
    box-shadow: none;
    z-index: 1;
    background-color: rgb(146, 80, 233);
    line-height: 10px;
  }
  nav .navbar-nav .sb-menu i {
    display: none;
  }
  .switch {
    width: 40px;
    height: 20px;
  }
  .slider:before {
    box-shadow: inset 4px -4px 0px 0px #fff000;
  }
  main .container {
    flex-direction: column-reverse;
    top: 13%;
    padding: 0;
  }
  main .container .main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    padding-top: 2rem;
  }

  main .container .main-box p {
    font-size: 1.1rem;
  }
  main .container .main-box .btn-main {
    width: 100%;
    padding: 1rem 2rem;
  }
  .sect1,
  .sect2 {
    padding-top: 4.2rem;
    background-position-x: -20px;
    background-attachment: scroll;
    background-repeat: repeat;
  }
  .cont-sect1 {
    flex-direction: column;
    align-items: center;
  }
  .cont-sect1 .sect1-img {
    width: 80%;
  }
  .cont-sect1 .sect1-box {
    width: 95%;
  }
  .cont-sect1 .sect1-box .text-box {
    width: 100%;
  }
  .cont-sect1 .sect1-box .text-box p {
    font-size: 1.5rem;
  }
  .cont-sect1 .sect1-box .text-box p span {
    line-height: 0.8;
    font-size: 5rem;
  }
  .cont-sect1 .sect1-box .skil-box h3 {
    font-size: 1.2rem;
    font-family: "poppins-medium";
    padding-bottom: 2.5rem;
  }
  .cont-sect1 .sect1-box .skil-box .skil .pers-skil::after,
  .cont-sect1 .sect1-box .skil-box .skil .pers-skil-gd::after,
  .cont-sect1 .sect1-box .skil-box .skil .pers-skil-net::after,
  .cont-sect1 .sect1-box .skil-box .skil .pers-skil-etc::after,
  .cont-sect1 .sect1-box .skil-box .skil .pers-skil-lnx::after {
    top: -24px;
  }
  .sect1-box .btn-box .butn-box {
    padding: 10px 10px;
    font-size: 15px;
  }

  .sect2 .boxing {
    width: 90%;
  }
  footer {
    gap: 20px;
  }
  footer .footicon {
    width: 60%;
  }
  footer .footicon li a i {
    font-size: 2.3rem;
    color: #00ff00;
  }
  footer .footbar-nav {
    width: 85%;
    font-size: 1.2rem;
  }
  footer .footbar-nav .fot-menu .foot-dwn {
    line-height: 20px;
    top: 14px;
  }
  footer .footbar-nav .fot-menu .foot-dwn li {
    padding: 0 12px;
  }
  footer .credit {
    margin-top: 1rem;
  }
  footer .credit p {
    font-size: 1.3rem;
  }
  /* .card-ex {
    margin: 3rem 1rem;
  } */
  /* .card-ex:hover {
    height: 254px;
    transform: skew(0deg);
    transition: all 20ms;
  } */
  .card-ex .text-ex p {
    font-size: 1.5rem;
  }
  .card-ex h1 {
    font-size: 2.5rem;
    padding: 0.5rem;
  }
  .card-ex p {
    font-size: 1.5rem;
    padding: 0.3rem;
  }
  .card-ex .link-ex a {
    font-size: 1.3rem;
  }
  .sect-2i {
    padding: 4.2rem 0;
  }

  .sect-3 .img-prj .img-box-prj {
    width: 300px;
    margin: 2rem 0;
  }
  .sect-4 .ctc-box form .input-group .input {
    width: 100%;
    font-size: 1.3rem;
  }
  .sect-4 .ctc-box form .input-group label {
    width: 90%;
    padding: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1.3rem;
  }

  .sect-4 .ctc-box form .input-group .user-label {
    left: 10px;
  }
  .sect-4 .ctc-box form .input-group .input:focus ~ label,
  input:valid ~ label {
    font-size: 1.3rem;
  }
}
/*clearfix*/

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
