* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Font */
@font-face {
  font-family: "josefinsans";
  src: url(asset/font/solway-regular-webfont.woff);
}
@font-face {
  font-family: "poppins";
  src: url(asset/font/poppins-regular-webfont.woff) format("woff");
}
@font-face {
  font-family: "poppins-medium";
  src: url(asset/font/poppins-medium-webfont.woff) format("woff");
}
@font-face {
  font-family: "poppins-semibold";
  src: url(asset/font/poppins-semibold-webfont.woff) format("woff");
}
@font-face {
  font-family: "poppins-extrabolditalic";
  src: url(asset/font/poppins-extrabolditalic-webfont.woff) format("woff");
}
@font-face {
  font-family: "poppins-talic";
  src: url(asset/font/poppins-italic-webfont.woff) format("woff");
}
:root {
  --bg-color: #cdd6ff;
}
[data-theme="dark"] {
  --bg-color: #161625;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background-color: var(--bg-color);
  min-height: 5000px;
  box-sizing: border-box;
  font-family: "poppins";

  background-position: center;
}
section {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1050%26quot%3b)' fill='none'%3e%3crect width='89' height='89' clip-path='url(%26quot%3b%23SvgjsClipPath1051%26quot%3b)' x='532.41' y='465.16' fill='url(%26quot%3b%23SvgjsPattern1052%26quot%3b)' transform='rotate(192.98%2c 576.91%2c 509.66)'%3e%3c/rect%3e%3crect width='120' height='120' clip-path='url(%26quot%3b%23SvgjsClipPath1053%26quot%3b)' x='1231' y='280.31' fill='url(%26quot%3b%23SvgjsPattern1054%26quot%3b)' transform='rotate(75.62%2c 1291%2c 340.31)'%3e%3c/rect%3e%3cpath d='M495.95 87.69L507.24 93.72 503.83 106.07 515.12 112.11 511.71 124.45 523.01 130.49 519.6 142.83M488.6 90.84L499.89 96.88 496.48 109.22 507.77 115.26 504.36 127.6 515.65 133.64 512.24 145.98' stroke='rgba(3%2c 123%2c 11%2c 0.48)' stroke-width='1.25' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3cpath d='M1430.98 507.44L1432.77 520.12 1420.8 524.65 1422.58 537.33 1410.61 541.86 1412.39 554.54 1400.42 559.07M1424.1 503.36L1425.89 516.04 1413.91 520.57 1415.7 533.25 1403.72 537.78 1405.51 550.46 1393.53 554.99' stroke='rgba(3%2c 123%2c 11%2c 0.48)' stroke-width='1' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3crect width='136.2' height='136.2' clip-path='url(%26quot%3b%23SvgjsClipPath1055%26quot%3b)' x='98.77' y='-55.57' fill='url(%26quot%3b%23SvgjsPattern1056%26quot%3b)' transform='rotate(265.42%2c 166.87%2c 12.53)'%3e%3c/rect%3e%3cpath d='M1347.14 431.98L1335.47 426.7 1338.07 414.16 1326.4 408.88 1328.99 396.33 1317.33 391.05 1319.92 378.51M1354.27 428.35L1342.6 423.07 1345.2 410.53 1333.53 405.25 1336.12 392.7 1324.46 387.42 1327.05 374.88' stroke='rgba(231%2c 54%2c 53%2c 0.39)' stroke-width='2.99' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3crect width='192' height='192' clip-path='url(%26quot%3b%23SvgjsClipPath1057%26quot%3b)' x='319.01' y='288.79' fill='url(%26quot%3b%23SvgjsPattern1058%26quot%3b)' transform='rotate(124.86%2c 415.01%2c 384.79)'%3e%3c/rect%3e%3cpath d='M1123.27 438.58 L1150.09 392.45L1100.0199414245806 378.8549414245807z' stroke='rgba(231%2c 54%2c 53%2c 0.39)' stroke-width='2.04' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3crect width='137.04' height='137.04' clip-path='url(%26quot%3b%23SvgjsClipPath1059%26quot%3b)' x='1174.02' y='207.34' fill='url(%26quot%3b%23SvgjsPattern1060%26quot%3b)' transform='rotate(24.56%2c 1242.54%2c 275.86)'%3e%3c/rect%3e%3cpath d='M1016.7 440.2L1007.63 431.15 1014.47 420.32 1005.4 411.28 1012.23 400.45 1003.17 391.4 1010 380.57' stroke='rgba(211%2c 183%2c 20%2c 0.45)' stroke-width='2.75' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3ccircle r='74.5345215505746' cx='973.35' cy='284.4' fill='rgba(231%2c 54%2c 53%2c 0.39)'%3e%3c/circle%3e%3ccircle r='52.723110492144194' cx='1326.47' cy='131.17' fill='rgba(211%2c 183%2c 20%2c 0.45)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1050'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='8.9' height='8.9' patternUnits='userSpaceOnUse' id='SvgjsPattern1052'%3e%3cpath d='M4.45 1L4.45 7.9M1 4.45L7.9 4.45' stroke='rgba(3%2c 123%2c 11%2c 0.48)' fill='none' stroke-width='1.08'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1051'%3e%3ccircle r='22.25' cx='576.91' cy='509.66'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='120' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1054'%3e%3crect width='120' height='3' x='0' y='0' fill='rgba(3%2c 123%2c 11%2c 0.48)'%3e%3c/rect%3e%3crect width='120' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1053'%3e%3ccircle r='30' cx='1291' cy='340.31'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='136.2' height='13.62' patternUnits='userSpaceOnUse' id='SvgjsPattern1056'%3e%3crect width='136.2' height='6.81' x='0' y='0' fill='rgba(231%2c 54%2c 53%2c 0.39)'%3e%3c/rect%3e%3crect width='136.2' height='6.81' x='0' y='6.81' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1055'%3e%3ccircle r='34.05' cx='166.87' cy='12.53'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='192' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1058'%3e%3crect width='192' height='3' x='0' y='0' fill='rgba(211%2c 183%2c 20%2c 0.45)'%3e%3c/rect%3e%3crect width='192' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1057'%3e%3ccircle r='48' cx='415.01' cy='384.79'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='11.42' height='11.42' patternUnits='userSpaceOnUse' id='SvgjsPattern1060'%3e%3cpath d='M5.71 1L5.71 10.42M1 5.71L10.42 5.71' stroke='rgba(3%2c 123%2c 11%2c 0.48)' fill='none' stroke-width='4.13'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1059'%3e%3ccircle r='34.26' cx='1242.54' cy='275.86'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.circle-mouse {
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: rgb(146, 80, 233);
  align-items: center;
  padding: 0 20px;
  z-index: 99;
}
nav .logo {
  /* width: 190px;
  height: 254px; */
  background: #9250e9;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 10px;
  padding: 0.3rem;
}
nav .logo::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 500px;
  background-image: linear-gradient(
    180deg,
    rgb(30, 255, 0),
    rgb(255, 255, 255)
  );

  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}
nav .logo::after {
  content: "";
  position: absolute;
  background: rgb(146, 80, 233);
  inset: 3px;
  border-radius: 9px;
}
nav .logo h1 {
  font-family: "josefinsans";
  color: #ff0000;
  z-index: 1;
}
nav .navbar-nav {
  display: flex;
  width: 40%;
  justify-content: space-between;
  list-style: none;
  letter-spacing: 0.5px;
}
nav .navbar-nav * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

nav .navbar-nav li a {
  text-decoration: none;
  font-family: "poppins-medium";
  text-transform: capitalize;
  color: #00ff00;
  position: relative;
  padding: 0.5rem 0.8rem;
}
nav .navbar-nav li a::after,
nav .navbar-nav li a::before {
  position: absolute;
  height: 15px;
  width: 15px;
  content: "";
  transition: all 0.35s ease;
  opacity: 0;
}
nav .navbar-nav li a::before {
  right: 0;
  top: 0;
  border-right: 3px solid rgb(255, 0, 191);
  border-top: 3px solid rgb(255, 0, 191);
  transform: translate(-100%, 50%);
}
nav .navbar-nav li a::after {
  left: 0;
  bottom: 0;
  border-left: 3px solid rgb(255, 0, 191);
  border-bottom: 3px solid rgb(255, 0, 191);
  transform: translate(100%, -50%);
}
nav .navbar-nav li a:hover {
  color: rgb(255, 0, 191);
}
nav .navbar-nav li a:hover::after,
nav .navbar-nav li a:hover::before {
  transform: translate(0%, 0%);
  opacity: 1;
}
nav .navbar-nav .sb-menu {
  position: relative;
}
nav .navbar-nav .sb-menu i {
  color: #00ff00;
}
nav .navbar-nav .sb-menu:hover i {
  transform: rotate(180deg);
}
nav .navbar-nav .sb-menu .nv-dwn {
  position: absolute;
  top: 20px;
  list-style: none;
  left: 0;
  line-height: 40px;
  background: rgb(146, 80, 233);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: -1;
}
nav .navbar-nav .sb-menu:hover .nv-dwn {
  display: block;
}
nav .navbar-nav .sb-menu .nv-dwn li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  --background: #28096b;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(74, 72, 72);
  transition: 0.5s;
  border-radius: 30px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: rgb(74, 72, 72);
  transition: 0.5s;
}
input:checked + .slider {
  background-color: #f2f0f7;
}
input:focus + .slider {
  box-shadow: 0 0 1px #3d2c8d;
}
input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
nav .icon-bar .menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  position: relative;
}
nav .icon-bar .menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
nav .icon-bar .menu-toggle span {
  display: block;
  width: 26px;
  height: 2.5px;
  background-color: #fe3636;
  border-radius: 3px;
  transition: all 0.5s;
}

main {
  width: 100%;
  min-height: 110vh;
  display: flex;

  /* background-color: #302ae662; */

  background-image: url("asset/img/Wave3.svg");
  background-color: #532ae638;
  background-repeat: no-repeat;
  background-position-y: 100%;
  position: relative;
  -webkit-mask-image: linear-gradient(
    rgba(0, 0, 0, 1) 85%,
    rgba(46, 63, 221, 0.007)
  );
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}
main .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 0 4rem;
  box-sizing: border-box;
  position: fixed;
  top: 20%;
}
main .container .main-box {
  line-height: 1.4;
  width: auto;
}
main .container .main-box h1:nth-child(1) {
  font-family: "poppins-extrabolditalic";
  text-shadow: 4px 4px 6px #aa3cf39d;
}
.wrt-txt {
  display: inline-flex;
}
main .container .main-box .wrt-txt h1 {
  color: #0c0c0c;
  font-size: 1.8rem;
  font-family: "poppins-extrabolditalic";
}
main .container .main-box .wrt-txt .type-text {
  position: relative;
  font-size: 1.8rem;
  padding-left: 10px;
  font-family: "poppins-medium";
  color: #f3277c;
  text-shadow: 3px 3px 5px #aa3cf39d;
}

main .container .main-box .wrt-txt .type-text::after {
  content: "";
  display: block;
  position: absolute;
  right: -5px;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #ff014f;
  animation: type 0.5s infinite;
}
main .container .main-box p {
  font-family: "poppins-medium";
  width: 60%;
  line-height: 1.2;
  text-shadow: 3px 3px 5px #aa3cf39d;
}

main .container .main-box .btn-main {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 3rem;
}
main .container .main-box .btn-main .button {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

main .container .main-box .btn-main .button::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
main .container .main-box .btn-main .btn1 {
  animation: btn-slide 1.5s infinite alternate-reverse;
}
main .container .main-box .btn-main .btn2 {
  animation: btn-slide-reverse 1.5s infinite alternate-reverse;
}
main .container .main-box .btn-main .button::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

main .container .main-box .btn-main .button:hover::after {
  filter: blur(30px);
}

main .container .main-box .btn-main .button:hover::before {
  transform: rotate(-180deg);
}

main .container .main-box .btn-main .button:active::before {
  scale: 0.7;
}

main .container .main-img .card {
  width: 190px;
  height: 254px;
  transition: all 0.2s;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.815);
}

main .container .main-img .card .card-inner {
  width: inherit;
  height: inherit;
  background: rgba(114, 134, 223, 0.623);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  /*backdrop-filter: blur(10px);*/
  border-radius: 10px;
}
main .container .main-img .card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(35px);
}

main .container .main-img .card::before {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 198px;
  height: 262px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

main .container .main-img .card:hover {
  transform: scale(1.04) rotate(1deg);
}
main .container .main-img .card:hover::before {
  transform: rotate(-180deg);
}
main .container .main-img .card .circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#b0e633, #53ef7d);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  animation: move-up6 1.5s ease-in infinite alternate-reverse;
}

main .container .main-img .card .circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

main .container .main-img .card .circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}
/* SECTION 1 */
.sect1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  background-image: url(asset/img/Colored\ Shapes.svg);
  /* background-repeat: no-repeat; */
}
.sect-card {
  display: inline-flex;
  padding: 2rem 0;
}
.sect-card h2 {
  font-family: "poppins-semibold";
  font-size: 2.5rem;
  text-shadow: 4px 4px 4px #3c4ef375;
}
.sect-card span {
  font-family: "poppins-semibold";
  font-size: 2.5rem;
  padding-left: 10px;
  animation: title-color 1s ease-in-out infinite alternate-reverse;
}
.cont-sect1 {
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
}
.cont-sect1 .sect1-img {
  width: 40%;
  padding: 0 1rem;
}
.cont-sect1 .sect1-img img {
  width: 100%;
  background-color: #00000031;
}
.cont-sect1 .sect1-box {
  width: 50%;
}
.cont-sect1 .sect1-box .text-box {
  width: 80%;
  margin-bottom: 6rem;
  padding-top: 1rem;
}
.cont-sect1 .sect1-box .text-box p {
  font-family: "poppins";
  font-size: 1.1rem;
  line-height: 1.4;
  text-shadow: 3px 3px 5px #3c4ef375;
}
.cont-sect1 .sect1-box .text-box p span {
  font-size: 5.15rem;
  color: rgb(14, 13, 13);
  line-height: 0.4;
  float: left;
  font-family: "poppins-semibold";
}
.cont-sect1 .sect1-box .skil-box {
  margin-top: 2.5rem;
}
.cont-sect1 .sect1-box .skil-box h3 {
  font-size: 1rem;
  font-family: "poppins-medium";
  text-shadow: 3px 3px 5px #3c4ef375;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}
.cont-sect1 .sect1-box .skil-box .skil {
  width: 90%;
  height: 15px;
  border: 1px solid rgb(75, 71, 71);
  border-radius: 20px;
  background-color: #ffffff52;
}
.cont-sect1 .sect1-box .skil-box .skil .pers-skil {
  background-color: #0011ff;
  width: 80%;
  height: 100%;
  border-radius: 20px;
  position: relative;
}
.cont-sect1 .sect1-box .skil-box .skil .pers-skil::after {
  content: "80%";
  position: absolute;
  right: 0;
  top: -30px;
  background-color: #71eff3;
  padding: 5px;
  border-radius: 20px;
  font-family: "poppins";
}
.cont-sect1 .sect1-box .skil-box .skil .pers-skil-gd {
  background-color: #0011ff;
  width: 60%;
  height: 100%;
  border-radius: 20px;
  position: relative;
}
.cont-sect1 .sect1-box .skil-box .skil .pers-skil-gd::after {
  content: "60%";
  position: absolute;
  right: 0;
  top: -30px;
  background-color: #71eff3;
  padding: 5px;
  border-radius: 20px;
  font-family: "poppins";
}
.cont-sect1 .sect1-box .skil-box .skil .pers-skil-net {
  background-color: #0011ff;
  width: 55%;
  height: 100%;
  border-radius: 20px;
  position: relative;
}
.cont-sect1 .sect1-box .skil-box .skil .pers-skil-net::after {
  content: "55%";
  position: absolute;
  right: 0;
  top: -30px;
  background-color: #71eff3;
  padding: 5px;
  border-radius: 20px;
  font-family: "poppins";
}
.sect1-box .btn-box {
  position: relative;

  margin-top: 3rem;
  box-sizing: border-box;
}
.sect1-box .btn-box .butn-box {
  left: 10%;
  color: purple;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid purple;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  border-radius: 10px;
}
.sect1-box .btn-box .butn-box:hover {
  color: #ffffff;
}
.sect1-box .btn-box .butn-box::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: purple;
  z-index: -1;
  transition: all 1s;
}
.sect1-box .btn-box .butn-box:hover::before {
  width: 160%;
}
/* SECTION 2 */
.sect2,
.sect-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.sect2 .boxing {
  display: flex;
  width: 60%;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
}
.card-ex {
  width: 190px;
  height: 130px;
  padding: 0.5rem;
  background: rgba(177, 95, 243, 0.87);
  border-radius: 8px;
  backdrop-filter: blur(5px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.44);
  border-left: 2px rgba(255, 255, 255, 0.545) outset;
  box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.28);
  transform: skewX(10deg);
  transition: 0.4s;
  overflow: hidden;
  color: white;
  margin: 3rem 1rem;
}

.card-ex:hover {
  height: 254px;
  transform: skew(0deg);
  transition: all 200ms;
}

.align {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-self: flex-start;
}

.red {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff605c;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
}

.yellow {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffbd44;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
}

.green {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ca4e;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
}
.card-ex .text-ex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-ex .text-ex p {
  font-size: 0.85rem;
}
.card-ex h1 {
  text-align: center;
  text-transform: capitalize;
  margin: 0.2rem 1.3rem 1.3rem 1.3rem;
  color: rgb(218, 244, 237);
  text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}

.card-ex p {
  line-height: 1.2;
}
.card-ex .link-ex {
  display: flex;
  justify-content: center;
  padding: 0.2rem 0;
}
.card-ex .link-ex a {
  text-decoration: none;
  color: #00ff22;
  font-family: "poppins-talic";
}

/* SECTION 2i */
.sect-2i,
.sect-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}
.title-sect {
  display: inline-flex;
  padding: 2rem 0;
  justify-content: center;
  width: 100%;
}
.title-sect span {
  font-family: "poppins-semibold";
  font-size: 2.5rem;
  animation: title-color 1s ease-in-out infinite alternate-reverse;
}
.title-sect h1 {
  font-family: "poppins-semibold";
  padding-left: 10px;
  font-size: 2.5rem;
  text-shadow: 4px 4px 4px #3c4ef375;
}
.skils-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-skil {
  display: flex;

  padding: 2rem;
  border-radius: 8px;
  transition: all 500ms;
  row-gap: 30px;
  flex-direction: column;
  align-items: center;
}
.container-skil:hover {
  transform: translateY(-20px);
}
.container-skil:hover .text-skil {
  transform: scale(1.1, 1.1);
}
.circular-progress {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: conic-gradient(#2a16e0 324deg, #edededbe 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.pv2 {
  background: conic-gradient(#2a16e0 288deg, #edededbe 0deg);
}
.pv3 {
  background: conic-gradient(#2a16e0 162deg, #edededbe 0deg);
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #ffffff;
}
.progress-value {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  color: #7d2ae8;
}
.text-skil {
  font-size: 1.5rem;
  font-family: "poppins-semibold";
  text-shadow: 2px 2px 2px #3c4ef375;
  transition: all 300ms;
}
/* SECTION 3 */
.sect-3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* box-sizing: border-box;
  width: 100%; */
}
.sect-3 .option {
  display: flex;
  width: 100%;
  padding: 1rem;
}
.sect-3 .option h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 1rem;
  cursor: pointer;
}
.sect-3 .img-prj {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.sect-3 .img-prj .img-box-prj {
  width: 400px;
  margin: 2rem;
  background-color: #5df0952c;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: crosshair;
}
#bx-game {
  display: none;
  text-decoration: none;
  color: #000000;
}
.wb {
  text-decoration: none;
  color: #000;
}
.sect-3 .img-prj .img-box-prj:hover::after {
  content: "Emphere Cafe";
  position: absolute;
  background-color: #cf67ff;
  padding: 1rem;
  font-size: 1.1rem;
  top: -3.2rem;
  animation: prj 500ms backwards;
  border-radius: 20px;
  color: #ffffff;
}
.sect-3 .img-prj .img-box-prj:nth-child(2):hover::after {
  content: "Katik";
}
.sect-3 .img-prj .img-box-prj:nth-child(3):hover::after {
  content: "JKT48 Website";
}
.sect-3 .img-prj .img-box-prj img {
  width: 100%;
}
.sect-3 .img-prj .img-box-prj .txt-prj {
  text-align: center;
  padding: 1.2rem 0;
}
/* SECTION 4 */

/* main .main-img img {
  width: 100px;
} */
/* Animation */
nav .icon-bar .menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
nav .icon-bar .menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
nav .icon-bar .menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
nav .icon-bar .menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0px);
}
nav .icon-bar .menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}
@keyframes prj {
  0% {
    top: 20px;
  }
  100% {
    top: -3.2rem;
  }
}
@keyframes title-color {
  0% {
    color: #e90b0b;
  }
  25% {
    color: #ee0cd0;
  }
  50% {
    color: #0011ff;
  }
  100% {
    color: #00ffdd;
  }
}
@keyframes btn-slide {
  100% {
    transform: translateX(20px);
  }
}
@keyframes btn-slide-reverse {
  100% {
    transform: translateX(-20px);
  }
}
@keyframes type {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}
@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes move-up6 {
  to {
    transform: translateY(-20px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(20px);
  }
}
@media (max-width: 1160px) {
  nav .navbar-nav {
    width: 50%;
  }
}
@media (max-width: 936px) {
  nav .navbar-nav {
    width: 60%;
  }
  nav .navbar-nav li a {
    font-size: 0.8rem;
  }
  main .container .main-box .btn-main {
    width: 70%;
  }
  .sect-3 .img-prj .img-box-prj {
    width: 350px;
    margin: 2rem 0;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  section {
    background-position: center;
  }
  nav .logo h1 {
    font-size: 1.8rem;
  }
  nav .logo::before {
    width: 10px;
    height: 500px;
  }
  nav .logo::after {
    inset: 2px;
    border-radius: 7px;
  }
  nav .icon-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
  }
  nav .icon-bar .toggle a img {
    width: 2.5rem;
  }
  nav .icon-bar .menu-toggle {
    display: flex;
  }
  nav .navbar-nav {
    display: inline-block;
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgb(146, 80, 233);
    width: 45%;
    height: 100vh;
    transition: 0.3s;
  }
  nav .navbar-nav.slide {
    right: 0;
  }
  nav .navbar-nav li a {
    color: rgb(244, 246, 247);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.3rem;
  }
  nav .navbar-nav li a::before {
    border-right: 2px solid rgb(255, 0, 191);
    border-top: 2px solid rgb(255, 0, 191);
  }
  nav .navbar-nav li a::after {
    border-left: 2px solid rgb(255, 0, 191);
    border-bottom: 2px solid rgb(255, 0, 191);
  }
  nav .navbar-nav li a:hover {
    color: rgb(21, 255, 0);
  }

  nav .navbar-nav .sb-menu .nv-dwn {
    position: relative;
    padding: 0;
    top: 0;
    box-shadow: none;
    z-index: 1;
    background-color: rgb(146, 80, 233);
    line-height: 10px;
  }
  nav .navbar-nav .sb-menu i {
    display: none;
  }
  .switch {
    width: 40px;
    height: 20px;
  }
  .slider:before {
    box-shadow: inset 4px -4px 0px 0px #fff000;
  }
  main .container {
    flex-direction: column-reverse;
    top: 13%;
    padding: 0;
  }
  main .container .main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    padding-top: 2rem;
  }

  main .container .main-box p {
    font-size: 1.1rem;
  }
  main .container .main-box .btn-main {
    width: 100%;
    padding: 1rem 2rem;
  }
  .sect1,
  .sect2 {
    padding-top: 4.2rem;
    background-position-x: -20px;
  }
  .cont-sect1 {
    flex-direction: column;
    align-items: center;
  }
  .cont-sect1 .sect1-img {
    width: 80%;
  }
  .cont-sect1 .sect1-box {
    width: 95%;
  }
  .cont-sect1 .sect1-box .text-box {
    width: 100%;
  }
  .cont-sect1 .sect1-box .text-box p {
    font-size: 1.5rem;
  }
  .cont-sect1 .sect1-box .text-box p span {
    line-height: 0.8;
    font-size: 5rem;
  }
  .cont-sect1 .sect1-box .skil-box h3 {
    font-size: 1.2rem;
    font-family: "poppins-medium";
    padding-bottom: 0.5rem;
  }
  .cont-sect1 .sect1-box .skil-box .skil .pers-skil::after,
  .cont-sect1 .sect1-box .skil-box .skil .pers-skil-gd::after,
  .cont-sect1 .sect1-box .skil-box .skil .pers-skil-net::after {
    top: -24px;
  }
  .sect1-box .btn-box .butn-box {
    padding: 5px 10px;
    font-size: 13px;
  }
  .sect2 .boxing {
    width: 90%;
  }
  /* .card-ex {
    margin: 3rem 1rem;
  } */
  /* .card-ex:hover {
    height: 254px;
    transform: skew(0deg);
    transition: all 20ms;
  } */
  .card-ex .text-ex p {
    font-size: 1.5rem;
  }
  .card-ex h1 {
    font-size: 2.5rem;
    padding: 0.5rem;
  }
  .card-ex p {
    font-size: 1.5rem;
    padding: 0.3rem;
  }
  .card-ex .link-ex a {
    font-size: 1.3rem;
  }
  .sect-2i {
    padding: 4.2rem 0;
  }

  .sect-3 .img-prj .img-box-prj {
    width: 300px;
    margin: 2rem 0;
  }
}
/*clearfix*/

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
